.gallery {
    padding-top: 100px;
    .galleryUpper {
        p {
            font: bold 18px/1 "poppins";
            margin-bottom: 60px;
        }

        h1 {
            font: bold 40px/1.3 "poppins";
            letter-spacing: 0.5px;
            color: #000;
            margin-bottom: 145px;
        }
    }

    .galleryLower {
        #searchBox {
            width: 515px;
            border-bottom: 1px solid #000;
            margin-bottom: 55px;

            /*
            &:hover {
                .btnSearch {
                    color: #fff;
                    transition: -0.2s;

                    .arrowCircle {
                        background-color: crimson;
                        border: 2px solid crimson;
                        transition: 0.2s;
                    }
                }
            }
            */

            input[type=text] {
                border: none;
                width: 460px;
                height: 40px;
            }
            input::placeholder {
                font: bold 30px/1 "poppins";
                color: rgb(200, 200, 200);
                letter-spacing: 0.5px;
            }

            .btnSearch {
                border: none;
                font-size: 25px;
                color: #999;
                background-color: #fff;
                transform: translateY(-10px);
                cursor: pointer;
                transition: 0.2s;

                .arrowCircle {
                    width: 55px;
                    height: 55px;
                    border: 2px solid #999;
                    border-radius: 50%;
                    margin-bottom: 5px;
                    transition: 0.2s;
                    
                    i {
                        transform: translate(1px, 11px);
                    }
                }

                &:hover {
                    color: #fff;
                    transition: -0.2s;

                    .arrowCircle {
                        background-color: crimson;
                        border: 2px solid crimson;
                        transition: 0.2s;
                    }
                }
            }
        }

        #imgBox {
            h2 {
                font: bold 20px/1 "poppins";
                color: #000;
                letter-spacing: 1px;
                margin-bottom: 20px;
            }

            .categoryBox {
                ul {
                    li {
                        display: inline-block;
                        margin-right: 10px;
                        font: bold 17px/1 "poppins";
                        background-color: rgb(255, 217, 222);
                        color: #000;
                        padding: 7px 15px 7px 15px;
                        border-radius: 17px;
                        transition: 0.3s;
                        margin-bottom: 40px;
                        cursor: pointer;

                        &:hover {
                            background-color: crimson;
                            color: #fff;
                            transition: 0.3s;
                        }
                    }
                }
            }

            .list {
                opacity: 0;
                transform: translateX(200px);
                transition: 0.5s;

                &::after {content: ""; display: block; clear: both;}
                &.on {
                    opacity: 1;
                    transform: translateX(0px);
                    // transition: 0.5s;
                }

                >li {
                    float: left;
                    width: 31%;
                    height: 550px;
                    margin-right: 30px;
                    margin-bottom: 15px;
                    overflow: hidden;
                    
                    .pic {
                        // background-color: lightseagreen;
                        width: 100%;
                        height: 220px;
                        object-fit: cover;
                        margin-bottom: 20px;

                        img {
                            width: 100%;
                            height: 220px;
                            border-radius: 10px;
                            object-fit: cover;
                        }
                    }

                    p {
                        font: bold 27px/1 "poppins";
                        line-height: 1.5;
                        color: crimson;
                        margin-bottom: 20px;
                    }

                    span {
                        font: bold 15px/1 "poppins";
                        color: #999;
                    }

                    .tagBox {
                        margin-top: 30px;
                        h4 {
                            display: inline-block;
                            margin-right: 10px;
                            font: bold 17px/1 "poppins";
                            background-color: rgb(255, 217, 222);
                            color: #000;
                            padding: 7px 15px 7px 15px;
                            border-radius: 17px;
                            transition: 0.3s;
                            cursor: pointer;
    
                            &:hover {
                                background-color: crimson;
                                color: #fff;
                                transition: 0.3s;
                            }
                        }
                    }

                    &:nth-of-type(3n) {margin-right: 0px;}
                }
            }

            .pagination {
                margin-top: 50px;
                width: 100%;
                text-align: center;
                
                p {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    cursor: pointer;

                    margin-right: 15px;
                    margin-left: 15px;
                    font: bold 15px/1 "poppins";
                    color: #999;

                    &:hover {
                        color: crimson;
                        // border-bottom: 2px solid crimson;
                    }

                    &:nth-of-type(2) {margin-left: 40px;}
                    &:nth-of-type(6) {margin-right: 20px;}
                }

                .leftCircle, .rightCircle {
                    font-size: 25px;
                    width: 40px;
                    height: 40px;
                    border: 2px solid #000;
                    color: #000;
                    border-radius: 50%;
                    line-height: 40px;
                    transition: 0.2s;

                    transform: translateY(3px);

                    &:hover {
                        color: #fff;
                        border-bottom: none;
                        border: 2px solid #555;
                        background-color: #555;
                        transition: 0.2s;
                    }
                }
            }
        }
    }

    .latestStories {
        margin-top: 100px;
        margin-bottom: 50px;

        h3 {
            font: bold 18px "poppins";
            letter-spacing: 1px;
            color: #333;
            margin-bottom: 40px;
        }

        article {
            width: 100%;
            border-top: 1.5px solid rgb(201, 201, 201); 
            padding-top: 40px;
            padding-bottom: 40px;

            &::after{content: ""; display: block; clear: both;}

            &:last-child {
                border-top: none;
                text-align: center;

                button {
                    cursor: pointer;
                    display: inline-block;
                    background-color: #fff;
                    border: 2px solid crimson;
                    border-radius: 35px;
                    width: 170px;
                    height: 70px;
                    font: bold 18px/1 "poppins";
                    color: crimson;
                    transition: 0.3s;

                    &:hover {
                        background-color: crimson;
                        color: #fff;
                        transition: 0.3s;
                    }
                }
            }

            h4 {
                float: left;
                width: 18%;
                font: bold 18px "poppins";
                color: #444;
            }

            ul {
                float: left;
                width: 47%;

                .LSTitle {
                    font: bold 40px/1.5 "poppins";
                    margin-bottom: 20px;
                    color: crimson;
                    cursor: pointer;
                }
                .LSArticle {
                    font: bold 18px/1.5 "poppins";
                    letter-spacing: 1px;
                    color: #444;
                }
            }

            .LSPic {
                float: left;
                width: 35%;
                height: 220px;

                .articlePic1 {
                    width: 100%;
                    height: 220px;
                    background-image: url(../../public/img/virusArticle.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 10px;
                    margin-bottom: 20px;
                }

                .articlePic2 {
                    width: 100%;
                    height: 220px;
                    background-image: url(../../public/img/TvirusArticle.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 10px;
                    margin-bottom: 20px;
                }

                .articlePic3 {
                    width: 100%;
                    height: 220px;
                    background-image: url(../../public/img/unboxingArticle.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 10px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .media {
        margin-bottom: 50px;
        &::after{content: ""; display: block; clear: both;}

        h3 {
            font: bold 18px "poppins";
            letter-spacing: 1px;
            color: #333;
            margin-bottom: 40px;
        }

        .mediaLeft {
            float: left;
            width: 50%;
            
            ul {
                li {
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    font: bold 35px/1 "poppins";
                    padding: 15px 0 15px 0;
                    border-top: 1px solid #000;
                    transition: 0.2s;

                    i {
                        transform: translateY(5px);
                        font-size: 25px;
                        color: #000;
                        transition: 0.2s;
                    }

                    &:hover {
                        color: crimson;
                        transition: 0.2s;

                        i {
                            transform: translate(15px, 5px);
                            color: crimson;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }

        .mediaRight {
            float: left;
            width: 50%;
            padding-left: 100px;
            
            h2 {
                font: bold 25px/1.5 "poppins";
            }
        }
    }
}