header {
    width: 100%;
    height: 100px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 10;

    .inner {
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;

        h1 {
            text-align: center;
            position: absolute;
            top: 25px;
            left: 0px;
            .headerPic {
                width: 200px;
                height: 50px;
                background-image: url(../../public/img/headerLogo3.png);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        #gnb {
            position: absolute;
            bottom: 0; right: 0;
            li {
                float: left;
                a {
                    display: inline-block; 
                    padding: 40px 30px;
                    font: bold 18px/1 "poppins"; 
                    color: #000;
                    transition: 0.25s;
                    &:hover {
                        color: crimson;
                        transition: 0.25s;
                    }
                }
                &:first-child, &:last-child {
                    display: none;
                }
            }
        }

        .fa-bars {
            position: absolute; 
            right: 4vw; 
            top: 26%; 
            font-size: 50px; 
            color: #000; 
            cursor: pointer;
            display: none;
        }
        //origin part
        .btnCall {
            display: none;
            cursor: pointer;
            width:40px; 
            height:30px; 
            position:absolute; 
            right:30px; 
            top:50%; 
            transform:translateY(-50%); 
            color: #000;

            &::before {
                content:''; 
                width:100%; 
                height:2px; 
                background:#000; 
                position:absolute; 
                top:0; 
                left:0; 
                transition:0.5s; 
            }

            &::after {
                content:''; 
                width:100%; 
                height:2px; 
                background:#000; 
                position:absolute; 
                bottom:0; 
                left:0; 
                transition:0.5s;  
            }

            span {
                width:100%; 
                height:2px; 
                background:#000; 
                position:absolute; 
                top:50%; 
                margin-top:-1px; 
                left:0; 
                text-indent:-9999px; 
                transition:0.5s; 
            }

            &.on {
                &::before {
                    background: crimson;
                }

                &::after {
                    background: crimson;
                }

                span {
                    background: crimson;
                }
            }
        }
        //origin part
        .munuMo {
            display: none;
        }
        //origin part
        .gnbMo {
            display: none;
        }
        //origin part
        .gnbMo2 {
            display: none;
        }
        //origin part
        .menu {
            position: absolute;
            top: 40px; left: 220px;

            ul {
                float: right;

                li {
                    float: left;

                    a {
                        padding: 20px 30px;
                        font: bold 17px/1 "arial";
                        color: #000;
                        transition: 0.3s;

                        &:hover {
                            color: crimson;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
        //origin part
        .three {
            position: absolute;
            top: 40px; right: 0;

            li {
                float: left;
                padding-left: 40px;

                a {
                    font: bold 16px/1 "arial";
                    color: #000;
                    transition: 0.3s;

                    
                    &:hover {
                        color: crimson;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}

//수정본 part
nav {
    padding: 20px 0px 0px 20px;
    width: 100vw; 
    height: 100vh; 
    background: #fff; 
    position: fixed; 
    top: 0px; 
    left: -100vw; 
    z-index: 10; 
    transition: 0.5s;

    &.on {
        left: 0vw;
    }

    #gnb {
        li {
            .headerPic {
                width: 200px;
                height: 50px;
                background-image: url(../../public/img/headerLogo3.png);
                background-repeat: no-repeat;
                background-size: cover;
            }

            height: 80px;
            a {
                font: bold 40px/1 "poppins";
                color: #000;
            }
            &:last-child {
                position: absolute;
                bottom: 0;
                transform: translateX(-20px);
                width: 100vw;
                background-color: crimson;
                text-align: center;
                padding-top: 30px;
                span {
                    font: bold 18px/1 "poppins";
                    color: #fff;
                }
            }
        }
        .fa-bars {
            position: absolute; 
            right: 40px; 
            top: 20px; 
            font-size: 50px; 
            color: #000; 
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $tablet){
    header {
        width: 100%;
        height: 100px;
        background: #fff;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        position: fixed;
        z-index: 10;
    
        .inner {
            .fa-bars {
                display: block;
            }

            #gnb {
                display: none;
            }

            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: relative;
    
            h1 {
                text-align: center;
                position: absolute;
                top: 25px;
                left: 30px;

                .headerPic {
                    width: 200px;
                    height: 50px;
                    background-image: url(../../public/img/headerLogo3.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
    
                a {
                    font: bold 30px/1 "arial";
                    color: #000;
                }
            }
    
            .menu {
                display: none;
            }
    
            .three {
                display: none;
            }

            .btnCall {
                display: block;
                z-index: 12;
            }

            .menuMo {
                display: block;
                z-index: 9;
                position: fixed;
                top: 0px;
                left: -100vw;
                width: 50vw;
                height: 100vh;
                background: #fff;
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                transition: 0.5s;

                &.on {
                    left:0px; 
                }

                >.gnbMo {
                    display: block;
                    padding-top: 120px;
                    padding-left: 30px;
                    li {
                        letter-spacing: 2px;
                        margin-bottom: 30px;
                        a {
                            font: bold 45px/1 "poppins";
                            color: #000;
                        }
                    }
                }
    
                >.gnbMo2 {
                    display: block;
                    background: crimson;
                    width: 100%;
                    height: 30px;
                    position: absolute;
                    text-align: center;
                    bottom: 0px;
                    padding: 20px 0px 40px 0px;
                    font: bold 20px/1 "poppins";
                    letter-spacing: 0.5px;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile){
    header {
        width: 100%;
        height: 100px;
        background: #fff;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        position: fixed;
        z-index: 10;
    
        .inner {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: relative;
    
            h1 {
                text-align: center;
                position: absolute;
                top: 25px;
                left: 30px;

                .headerPic {
                    width: 50px;
                    height: 50px;
                    background-image: url(../../public/img/headerLogo3.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
    
                a {
                    font: bold 30px/1 "arial";
                    color: #000;
                }
            }
    
            .menu {
                display: none;
            }
    
            .three {
                display: none;
            }

            .btnCall {
                display: block;
                z-index: 12;
            }

            .menuMo {
                display: block;
                z-index: 9;
                position: fixed;
                top: 0px;
                left: -100vw;
                width: 50vw;
                height: 100vh;
                background: #fff;
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                transition: 0.5s;

                &.on {
                    left:0px; 
                }

                >.gnbMo {
                    display: block;
                    padding-top: 120px;
                    padding-left: 30px;
                    li {
                        letter-spacing: 2px;
                        margin-bottom: 60px;
                        a {
                            font: bold 25px/1 "poppins";
                            color: #000;
                        }
                    }
                }
    
                >.gnbMo2 {
                    padding: 30px 0px 40px 0px;
                    font: bold 12px/1 "poppins";
                }
            }
        }
    }
}