.main {
    position: relative;
    .one {
        padding-top: 220px;
        text-align: center;
        width: 100%;
        height: 800px;
        background-image: url(../../public/img/virus.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        h1 {
            font: bold 90px/1.2 "poppins";
            color: #000;
            margin-bottom: 30px;
        }
        p {
            font: bold 22px/1.8 "poppins";
            color: #000;
            margin-bottom: 35px;
        }
        button {
            cursor: pointer;
            width: 240px;
            height: 70px;
            background: none;
            border: 2px solid crimson;
            border-radius: 35px;
            font: bold 17px/1 "poppins";
            color: crimson;
            transition: 0.2s;

            &:hover {
                background-color: crimson; 
                color: #fff;
                transition: 0.2s;
            }
        }
    }

    .two {
        height: 750px;
        &::after{content: ""; display: block; clear: both;}

        h3 {
            font: bold 18px "poppins";
            letter-spacing: 1px;
            color: #333;
            margin-bottom: 40px;
        }

        .twoLeft {
            float: left;
            width: 45%;
            height: 600px;
            background-image: url(../../public/img/Art.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .twoRight {
            padding: 0px 25px 0px 25px;
            float: left;
            width: 55%;
            
            h4 {
                cursor: pointer;
                font: bold 40px/1.2 "poppins";
                color: crimson;
                margin-bottom: 30px;
            }
            p {
                font: bold 18px/1.8 "poppins";
                color: #000;
                margin-bottom: 20px;
            }
            button {
                cursor: pointer;
                width: 240px;
                height: 70px;
                background: none;
                border: 2px solid crimson;
                border-radius: 35px;
                font: bold 17px/1 "poppins";
                color: crimson;
                transition: 0.2s;
    
                &:hover {
                    background-color: crimson; 
                    color: #fff;
                    transition: 0.2s;
                }
            }
        }
    }

    .latestStories {
        h3 {
            font: bold 18px "poppins";
            letter-spacing: 1px;
            color: #333;
            margin-bottom: 40px;
        }

        article {
            width: 100%;
            border-top: 1.5px solid rgb(201, 201, 201); 
            padding-top: 40px;
            padding-bottom: 40px;

            &::after{content: ""; display: block; clear: both;}

            &:last-child {
                border-top: none;
                text-align: center;

                button {
                    cursor: pointer;
                    display: inline-block;
                    background-color: #fff;
                    border: 2px solid crimson;
                    border-radius: 35px;
                    width: 220px;
                    height: 70px;
                    font: bold 18px/1 "poppins";
                    color: crimson;
                    transition: 0.3s;

                    &:hover {
                        background-color: crimson;
                        color: #fff;
                        transition: 0.3s;
                    }
                }
            }

            h4 {
                float: left;
                width: 18%;
                font: bold 18px "poppins";
                color: #444;
            }

            ul {
                float: left;
                width: 47%;

                .LSTitle {
                    font: bold 40px/1.5 "poppins";
                    margin-bottom: 20px;
                    color: crimson;
                    cursor: pointer;
                }
                .LSArticle {
                    font: bold 18px/1.5 "poppins";
                    letter-spacing: 1px;
                    color: #444;
                }
            }

            .LSPic {
                float: left;
                width: 35%;
                height: 220px;

                .articlePic1 {
                    width: 100%;
                    height: 220px;
                    background-image: url(../../public/img/virusArticle.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 10px;
                    margin-bottom: 20px;
                }

                .articlePic2 {
                    width: 100%;
                    height: 220px;
                    background-image: url(../../public/img/TvirusArticle.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 10px;
                    margin-bottom: 20px;
                }

                .articlePic3 {
                    width: 100%;
                    height: 220px;
                    background-image: url(../../public/img/unboxingArticle.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 10px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .three {
        height: 500px;
        &::after{content: ""; display: block; clear: both;}

        h3 {
            font: bold 18px "poppins";
            letter-spacing: 1px;
            color: #333;
            margin-bottom: 40px;
        }

        .threeLeft {
            float: left;
            width: 45%;
            height: 315px;
            background-image: url(../../public/img/ebook.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .threeRight {
            padding: 0px 25px 0px 25px;
            float: left;
            width: 55%;
            
            h4 {
                font: bold 40px/1.2 "poppins";
                color: #000;
                margin-bottom: 30px;
            }
            p {
                font: bold 18px/1.8 "poppins";
                color: #000;
                margin-bottom: 20px;
            }
            button {
                cursor: pointer;
                width: 500px;
                height: 70px;
                background: none;
                border: 2px solid crimson;
                border-radius: 35px;
                font: bold 17px/1 "poppins";
                color: crimson;
                transition: 0.2s;
    
                &:hover {
                    background-color: crimson; 
                    color: #fff;
                    transition: 0.2s;
                }
            }
        }

    }

    .four {
        height: 600px;
        &::after{content: ""; display: block; clear: both;}

        h3 {
            font: bold 18px "poppins";
            letter-spacing: 1px;
            color: #333;
            margin-bottom: 40px;
        }

        .fourLeft {
            float: left;
            width: 45%;
            height: 415px;
            background-image: url(../../public/img/goods.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .fourRight {
            padding: 0px 0px 0px 120px;
            float: left;
            width: 55%;
            
            h4 {
                font: bold 30px/1.2 "poppins";
                color: #000;
                margin-bottom: 30px;
            }
            button {
                cursor: pointer;
                width: 350px;
                height: 70px;
                background: none;
                border: 2px solid crimson;
                border-radius: 35px;
                font: bold 17px/1 "poppins";
                color: crimson;
                transition: 0.2s;
    
                &:hover {
                    background-color: crimson; 
                    color: #fff;
                    transition: 0.2s;
                }
            }
        }

    }

    .five {
        h3 {
            font: bold 18px "poppins";
            letter-spacing: 1px;
            color: #333;
            margin-bottom: 40px;
        }

        span {
            display: block;
            font: bold 40px/1.5 "poppins";
            color: #000;
            margin-bottom: 20px;
        }

        button {
            cursor: pointer;
            width: 250px;
            height: 70px;
            background: none;
            border: 2px solid crimson;
            border-radius: 35px;
            font: bold 17px/1 "poppins";
            color: crimson;
            transition: 0.2s;
            margin-bottom: 100px;

            &:hover {
                background-color: crimson; 
                color: #fff;
                transition: 0.2s;
            }
        }

        .fiveLower {
            overflow: hidden;

            ul {
                &::after{content: ""; display: block; clear: both;}
                width: 1700px;
                li {
                    float: left;
                    width: 400px;
                    height: 600px;
                    margin-right: 25px;
                    &:last-child{margin-right: none;}
                    &:nth-of-type(1){.fivePic {background-image: url(../../public/img/covid1.jpg);}}
                    &:nth-of-type(2){.fivePic {background-image: url(../../public/img/covid2.jpg);}}
                    &:nth-of-type(3){.fivePic {background-image: url(../../public/img/covid3.jpg);}}
                    &:nth-of-type(4){.fivePic {background-image: url(../../public/img/covid4.jpg);}}

                    .fivePic {
                        width: 400px;
                        height: 220px;
                        border-radius: 10px;
                        margin-bottom: 30px;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    h1 {
                        font: bold 30px/1.3 "poppins";
                        color: #000;
                        margin-bottom: 20px;
                    }
                    p {
                        font: bold 20px/1.7 "poppins";
                        color: #333;
                        margin-bottom: 20px;
                    }
                    strong {
                        font: bold 20px/1 "poppins";
                        color: crimson;
                        cursor: pointer;
                    }
                }
            }
        }

        .pagination {
            margin-top: 20px;
            margin-bottom: 100px;
            padding-top: 40px;
            border-top: 3px solid rgb(201, 201, 201);
            width: 100%;
            
            .leftCircle, .rightCircle {
                cursor: pointer;
                display: inline-block;
                margin-right: 15px;
                font-size: 25px;
                width: 40px;
                height: 40px;
                border: 2px solid #000;
                color: #000;
                border-radius: 50%;
                // line-height: 40px;
                transition: 0.2s;

                transform: translateY(3px);

                i {
                    margin-left: 7px;
                }

                &:hover {
                    color: #fff;
                    border-bottom: none;
                    border: 2px solid #555;
                    background-color: #555;
                    transition: 0.2s;
                }
            }
        }
    }

    .six {
        border-bottom: 1px solid rgb(201, 201, 201);
        h3 {
            font: bold 18px "poppins";
            letter-spacing: 1px;
            color: #333;
            margin-bottom: 40px;
        }

        span {
            display: block;
            font: bold 40px/1.5 "poppins";
            color: #000;
            margin-bottom: 20px;
        }

        button {
            cursor: pointer;
            width: 200px;
            height: 70px;
            background: none;
            border: 2px solid crimson;
            border-radius: 35px;
            font: bold 17px/1 "poppins";
            color: crimson;
            transition: 0.2s;
            margin-bottom: 80px;

            &:hover {
                background-color: crimson; 
                color: #fff;
                transition: 0.2s;
            }
        }
    }

    .seven {
        &::after {content: ""; display: block; clear: both;}

        h3 {
            font: bold 18px "poppins";
            letter-spacing: 1px;
            color: #333;
            margin-bottom: 20px;
            margin-top: 70px;
        }

        .sevenLeft {
            padding-top: 50px;
            float: left;
            width: 50%;
            p {
                font: bold 40px/1.5 "poppins";
                color: #000;
                margin-bottom: 40px;
            }
    
            button {
                cursor: pointer;
                width: 200px;
                height: 60px;
                background: none;
                border: 2px solid crimson;
                border-radius: 35px;
                font: bold 14px/1 "poppins";
                color: crimson;
                transition: 0.2s;
                margin-bottom: 80px;
    
                &:hover {
                    background-color: crimson; 
                    color: #fff;
                    transition: 0.2s;
                }
            }
        }

        .sevenRight {
            float: left;
            width:50%;
            height: 900px;

            ul {
                height: 900px;
                width: 4000px;
                &::after {content: ""; display: block; clear: both;}

                li {
                    cursor: pointer;
                    float: left;
                    margin-right: 25px;

                    &:hover {
                        h4 {
                            display: inline-block;
                            border-bottom: 2px solid #000;
                        }
                    }

                    .sevenPic{
                        background-image: url(../../public/img/virus2.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 590px;
                        height: 750px;
                        border-radius: 10px;
                    }
                    &:nth-of-type(2){.sevenPic {background-image: url(../../public/img/virus7.png);}}
                    &:nth-of-type(3){.sevenPic {background-image: url(../../public/img/virus3.jpg);}}
                    &:nth-of-type(4){.sevenPic {background-image: url(../../public/img/virus6.jpg);}}
                    &:nth-of-type(5){.sevenPic {background-image: url(../../public/img/virus5.jpg);}}
                    &:nth-of-type(6){.sevenPic {background-image: url(../../public/img/virus8.png);}}

                    h3 {
                        font: bold 18px/1 "poppins";
                        letter-spacing: 1px;
                        color: #333;
                        margin-top: 30px;
                    }
                    h4 {
                        font: bold 25px/1 "poppins";
                        color: #000;
                    }
                }
            }
        }

        .pagination {
            float: left;
            width: 100%;
            border-top: 3px solid rgb(201, 201, 201);
            margin-top: 10px;
            padding-top: 40px;
            margin-bottom: 80px;
            
            .leftCircle, .rightCircle {
                cursor: pointer;
                display: inline-block;
                margin-right: 15px;
                font-size: 25px;
                width: 40px;
                height: 40px;
                border: 2px solid #000;
                color: #000;
                border-radius: 50%;
                // line-height: 40px;
                transition: 0.2s;

                transform: translateY(3px);

                i {
                    margin-left: 7px;
                }

                &:hover {
                    color: #fff;
                    border-bottom: none;
                    border: 2px solid #555;
                    background-color: #555;
                    transition: 0.2s;
                }
            }
        }
    }
}