.main {
    position: relative;
    .one {
        padding-top: 220px;
        text-align: center;
        width: 100%;
        height: 800px;
        background-image: url(../../public/img/virus.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        h1 {
            font: bold 90px/1.2 "poppins";
            color: #000;
            margin-bottom: 30px;
        }
        p {
            font: bold 22px/1.8 "poppins";
            color: #000;
            margin-bottom: 35px;
        }
        button {
            cursor: pointer;
            width: 240px;
            height: 70px;
            background: none;
            border: 2px solid crimson;
            border-radius: 35px;
            font: bold 17px/1 "poppins";
            color: crimson;
            transition: 0.2s;

            &:hover {
                background-color: crimson; 
                color: #fff;
                transition: 0.2s;
            }
        }
    }

    .two {
        height: 800px;

        h3 {
            font: bold 18px "poppins";
            letter-spacing: 1px;
            color: #333;
            margin-bottom: 40px;
            &::after{content: ""; display: block; clear: both;}
        }

        .twoLeft {
            float: left;
            width: 45%;
            height: 600px;
            background-image: url(../../public/img/Art.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .twoRight {
            padding: 0px 25px 0px 25px;
            float: left;
            width: 55%;
            
            h4 {
                font: bold 40px/1.2 "poppins";
                color: crimson;
                margin-bottom: 30px;
            }
            p {
                font: bold 18px/1.8 "poppins";
                color: #000;
                margin-bottom: 20px;
            }
            button {
                cursor: pointer;
                width: 240px;
                height: 70px;
                background: none;
                border: 2px solid crimson;
                border-radius: 35px;
                font: bold 17px/1 "poppins";
                color: crimson;
                transition: 0.2s;
    
                &:hover {
                    background-color: crimson; 
                    color: #fff;
                    transition: 0.2s;
                }
            }
        }
    }
}