.youtube {
    padding-top: 100px;

    .inner {
        width: 1180px;
        margin: 0 auto;
        margin-top: 100px;
        p {
            font: bold 18px/1 "poppins";
            margin-bottom: 60px;
        }

        h1 {
            font: bold 40px/1.3 "poppins";
            letter-spacing: 0.5px;
            color: #000;
            margin-bottom: 60px;
        }

        button {
            cursor: pointer;
            display: inline-block;
            background-color: #fff;
            border: 2px solid crimson;
            border-radius: 35px;
            width: 250px;
            height: 70px;
            font: bold 18px/1 "poppins";
            color: crimson;
            transition: 0.3s;
            margin-bottom: 100px;

            &:hover {
                background-color: crimson;
                color: #fff;
                transition: 0.3s;
            }
        }

        .data {
            width: 100%;
            margin-bottom: 100px;
            &::after{content: ""; display: block; clear: both;}

            h3 {
                font: bold 18px "poppins";
                letter-spacing: 1px;
                color: #333;
                margin-bottom: 50px;
            }

            .dataLoading {
                float: left;
                width: 30%;
                height: 500px;
                background-color: #000;
                border-radius: 30px;
                padding-top: 50px;
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
                
                .loadingPic {
                    margin: 0 auto;
                    margin-bottom: 40px;
                    transform: translateX(-10px);
                    width: 250px;
                    height: 250px;
                    background-image: url(../../public/img/youtubeLoading.gif);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
    
                h2 {
                    text-align: center;
                    font: bold 25px/1.5 "poppins";
                    letter-spacing: 1px;
                    color: #fff;
                }
            }

            .dataCenter {
                float: left;
                width: 40%;
                padding: 0 30px 0 30px;
                h2 {
                    font: bold 35px/1.8 "poppins";
                }

                button {
                    cursor: pointer;
                    display: inline-block;
                    background-color: #fff;
                    border: 2px solid crimson;
                    border-radius: 35px;
                    width: 250px;
                    height: 70px;
                    font: bold 18px/1 "poppins";
                    color: crimson;
                    transition: 0.3s;
                    margin-top: 40px;
        
                    &:hover {
                        background-color: crimson;
                        color: #fff;
                        transition: 0.3s;
                    }
                }
            }

            .dataRight {
                width: 30%;
                float: left;
                ul {
                    li {
                        cursor: pointer;
                        display: flex;
                        justify-content: space-between;
                        font: bold 35px/1 "poppins";
                        padding: 15px 0 15px 0;
                        border-top: 1px solid #000;
                        transition: 0.2s;
    
                        i {
                            transform: translateY(5px);
                            font-size: 25px;
                            color: #000;
                            transition: 0.2s;
                        }
    
                        &:hover {
                            color: crimson;
                            transition: 0.2s;
    
                            i {
                                transform: translate(-15px, 5px);
                                color: crimson;
                                transition: 0.2s;
                            }
                        }
                    }
                }
            }
        }

        .frame {
            h3 {
                font: bold 18px "poppins";
                letter-spacing: 1px;
                color: #333;
                margin-bottom: -40px;
            }

            article {
                margin-bottom: -50px;
                >.inner {
                    width: 96%;
                    margin-right: 4%;
                    // border: 2px solid rgb(201,201,201);
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                    padding: 10px;
                    margin-bottom: 100px;
                    transition: 0.2s;
                    &::after{content: ""; display: block; clear: both;}
                    &:hover {
                        box-shadow: 5px 5px 10px rgba(220, 20, 60, 0.4);
                        transition: 0.2s;
                    }

                    .pic {
                        float: left;
                        width: 35%;
                        height: 225px;

                        position: relative;

                        img {
                            width: 400px;
                            border-radius: 10px;
                        }

                        i {
                            position: absolute;
                            top: 70px; left: 43%;
                            cursor: pointer;
                            padding-top: 10px;
                            float: left;
                            font-size: 80px;
                            color: crimson;
                            width: 10%;
                            transition: 0.2s;
                            opacity: 0.6;

                            &:hover {
                                color: crimson;
                                transition: 0.2s;
                                opacity: 1;
                            }
                        }
                    }

                    .txt {
                        float: left;
                        width: 65%;
                        height: 225px;
                        padding-top: 10px;
                        padding-left: 20px;
                        padding-right: 20px;

                        em {
                            display: inline-block;
                            font: bold 17px/1 "poppins";
                            background-color: rgb(255, 217, 222);
                            color: #000;
                            padding: 7px 15px 7px 15px;
                            border-radius: 17px;
                            transition: 0.3s;
                            margin-bottom: 20px;
                            cursor: pointer;

                            &:hover {
                                background-color: crimson;
                                color: #fff;
                                transition: 0.3s;
                            }
                        }

                        h2 {
                            width: 100%;
                            font: bold 25px/1 "poppins";
                            color: #000;
                            margin-bottom: 40px;
                        }

                        i {
                            display: none;
                            cursor: pointer;
                            padding-top: 10px;
                            float: left;
                            font-size: 50px;
                            color: #999;
                            width: 10%;
                            transition: 0.2s;
                            &:hover {
                                color: crimson;
                                transition: 0.2s;
                            }
                        }

                        p {
                            float: left;
                            width: 90%;
                            font: 18px/1.5 "poppins";
                            color: #555;
                        }
                    }
                }
            }
        }
    }

    .pop {
        z-index: 20;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        background: rgba(0,0,0,0.9);
        padding: 5vw;

        iframe {
            border: none;
            width: 100%;
            height: 100%;
        }

        span {
            cursor: pointer;
            font-size: 50px;
            color: #fff;
            position: absolute;
            bottom: 0.7vw;
            right: 48.5vw;
            transition: 0.3s;

            &:hover {
                color: crimson;
                transition: 0.3s;
            }
        }
    }
}