.youtube {
    padding-top: 100px;
    .inner {
        width: 1180px;
        margin: 0 auto;
        margin-top: 100px;
        p {
            font: bold 18px/1 "poppins";
            margin-bottom: 60px;
        }

        h1 {
            font: bold 40px/1.3 "poppins";
            letter-spacing: 0.5px;
            color: #000;
            margin-bottom: 100px;
        }

        .frame {
            article {
                >.inner {
                    width: 96%;
                    margin-right: 4%;
                    // border: 2px solid rgb(201,201,201);
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                    padding: 10px;
                    margin-bottom: 20px;
                    transition: 0.2s;
                    &::after{content: ""; display: block; clear: both;}
                    &:hover {
                        box-shadow: 5px 5px 10px rgba(220, 20, 60, 0.4);
                        transition: 0.2s;
                    }
                    .pic {
                        float: left;
                        width: 35%;
                        height: 225px;
                        img {
                            width: 400px;
                        }
                    }

                    .txt {
                        float: left;
                        width: 65%;
                        height: 225px;
                        padding-top: 10px;
                        padding-left: 20px;
                        padding-right: 20px;

                        em {
                            display: inline-block;
                            font: bold 17px/1 "poppins";
                            background-color: rgb(255, 217, 222);
                            color: #000;
                            padding: 7px 15px 7px 15px;
                            border-radius: 17px;
                            transition: 0.3s;
                            margin-bottom: 20px;
                            cursor: pointer;

                            &:hover {
                                background-color: crimson;
                                color: #fff;
                                transition: 0.3s;
                            }
                        }

                        h2 {
                            width: 100%;
                            font: bold 25px/1 "poppins";
                            color: #000;
                            margin-bottom: 40px;
                        }

                        i {
                            cursor: pointer;
                            padding-top: 10px;
                            float: left;
                            font-size: 50px;
                            color: #999;
                            width: 10%;
                            transition: 0.2s;
                            &:hover {
                                color: crimson;
                                transition: 0.2s;
                            }
                        }
                        p {
                            float: left;
                            width: 90%;
                            font: 18px/1.5 "poppins";
                            color: #555;
                        }
                    }
                }
            }
        }
    }

    .pop {
        z-index: 20;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        background: rgba(0,0,0,0.9);
        padding: 5vw;

        iframe {
            border: none;
            width: 100%;
            height: 100%;
        }

        span {
            cursor: pointer;
            font-size: 50px;
            color: #fff;
            position: absolute;
            top: 0.7vw;
            right: 5vw;
            transition: 0.3s;

            &:hover {
                color: crimson;
                transition: 0.3s;
            }
        }
    }
}