@charset "utf-8";
@import "reset.scss";

$tablet : 1179px;
$mobile : 539px;

figure {
    width: 100%;

    @import "header.scss";
    @import "main.scss";
    @import "department.scss";
    @import "board.scss";
    @import "gallery.scss";
    @import "youtube.scss";
    @import "membership.scss";
    @import "location.scss";

    @import "boardNews.scss";

    @import "btns.scss";

    @import "footer.scss";
}